* {
    margin: 0;
    padding: 0;
    font-family: work sans;
}

/* nav section styles starts here */
header {
    background: #f8f8f89e;
}

nav {
    background: white;
}

main section {
    max-width: 1440px;
    margin: auto;
}

.main_Nav {
    max-width: 1440px;
    margin: 0px auto;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Logo_container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Logo_container img {
    width: 100px;
    object-fit: cover;
}

.Heading {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.zone {
    color: #FF42A5;
}

.main_Ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_Ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bfbbc98c;
    padding: 10px 0px 10px 20px;
    border-radius: 5px;
}

li {
    list-style: none;
    margin-right: 20px;
}

li a {
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

.youtube {
    color: red;
    font-size: 1.5rem;
}

.tiktok {
    font-size: 1.5rem;

}

/* nav section styles  ends here */





/* banner section styles starts here */
.banner {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_data {
    background-image: url(./images/Group_14.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 129px 100px;
    width: 50%;
    margin-left: -270px;
}

.datas {
    text-align: center;
    width: 400px;
    margin: auto;

}

.play_like {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
}

.banner_Title {
    text-align: center;
    font-size: 5.9rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.list_Item {
    color: #534C64;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
}

.lists {
    text-align: left;
    margin: 0px auto 25px auto;
    width: 350px;
}

.btn {
    padding: 20px 40px;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.pink_btn {
    background: #FF42A5;
    margin-right: 15px;
}

.sky_btn {
    background: #4EC5F7;
}

.banner_Image {
    width: 50%;
    display: flex;
    justify-content: end;
}

.banner_Image img {
    width: 85%;

}

/* banner section styles ends here */


/* cards section styles starts here */
.cards_Title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.cards_Info {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;

}

.Cards_header {
    max-width: 700px;
    margin: auto;
    text-align: center;
    margin-top: 94px;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.card_caption {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
}

.cards {
    padding: 50px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hover {
    width: 342px;
    height: 400px;
    background: rgb(28 25 25 / 71%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F948B2;
    position: absolute;
    top: 0px;
    visibility: hidden;
    transition: .3s linear .2s;
    opacity: 0;

}

.inner {
    text-align: center;
    font-size: 1.5rem;
}

.icon {
    color: white;
    font-size: 3rem;
    line-height: 60px;
    cursor: pointer;
}

.watch {
    color: #F948B2;
    font-size: 1.1rem;
    font-weight: 600;
}

.Hover_Effect {
    position: relative;
}

.Hover_Effect:hover .hover {
    visibility: visible;
    opacity: 1;
}

/* cards section styles ends here */





/* play games section styles starts here */
.Play_games {
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_Side {
    width: 60%;
    min-height: 300px;
}

.Info_Side {
    max-width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.Inner_2 {
    max-width: 90%;
}

.Position_Pic {
    max-width: 80%;
    position: relative;
}

.Big_Pic img {
    width: 100%;
}

.choto_Pic {
    max-width: 47%;
    position: absolute;
    bottom: -138px;
    right: -131px;
}

.choto_Pic img {
    width: 100%;
}

.play_Title {
    font-size: 3rem;
    font-weight: 700;
}


.design_text {
    color: #F948B2;
}

.design_2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.play_Info {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
}

/* play games section styles ends here */

/* Nine games sections style starts here */

.nine_games_container {
    margin-top: 150px;
    background: #cab0b075;
    padding: 1px;
}

.nine_Games {
    max-width: 1420px;
    margin: 200px auto;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.Buttons a {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;

}

.Buttons {
    border-radius: 50px;
    background: #fff;
    border: 1px solid white;
    padding: 10px;
}

.Buttons:hover {
    border: 1px solid #FF42A5;
}

.Buttons:hover a {
    color: #FF42A5;
}


/* Nine games sections style ends here */


/* footer styles  */
footer {
    background: black;
    min-height: 400px;
    padding: 15px;

}

.footer_Heading {
    color: white;
    font-size: 2.8rem;
    font-weight: 700;

}

.footer_Logo_container {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer_zone {
    color: #FF42A5;
}

.footer_ul1 {
    max-width: 800px;
    margin: 60px auto 0px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

.footer_ul2 {
    max-width: 500px;
    margin: 40px auto auto auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer_Ul3{
    max-width: 679px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin: 33px auto 0px auto;
}

.footer_Ul3 a{
    font-size: 1.1rem;
}

.footer_ul2 a {
    font-size: 2rem;
}



footer li {
    list-style: none;

}

footer a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

.copy_right {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

}

/* footer styles  */







/* Responsive css starts here */

/* for large mobile max-width:425px styles starts */
@media screen and (max-width:425px) {
    .main_Nav {
        flex-direction: column;

    }

    .main_Ul {
        flex-direction: column;
        gap: 25px;
    }

    .Logo_container {
        margin-bottom: 20px;
    }



    .banner {
        flex-direction: column;
    }

    .banner_data {
        width: 100%;
        padding: 30px 10px;
        margin-left: 0px;
    }

    .banner_Image img {
        width: 85%;

    }

    .banner_Image {
        width: 100%;
        justify-content: center;

    }

    .cards {
        padding: 50px 0px;
        flex-direction: column;
    }

    .single_Card {
        text-align: center;
    }

    /* play games styles */
    .Play_games {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 10px;


    }

    .choto_Pic {
        max-width: 60%;
        bottom: -125px;
        right: -85px;
    }


    .image_Side {
        width: 100%;
    }

    .Position_Pic {
        max-width: 80%;

    }


    .Info_Side {
        max-width: 100%;
        /* text-align: center; */
        justify-content: center;
    }

    .Inner_2 {
        max-width: 100%;
        text-align: center;
    }
    /* play games styles */




    /* nine games section styles  */


    .nine_Games {
        gap: 3px;
        row-gap: 30px;
    
    }
    .Buttons a {
        gap: 5px;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
    }
    
    .Buttons {
        padding: 5px;
    }

    .Buttons a img{
        width: 20px;
    }

    /* nine games section styles  */

    /* footer styles */
    .footer_ul1 {
        max-width: 400px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        text-align: center;
    }

    .footer_ul1 a {
        font-size: 1rem;
        font-weight: 400;
    }

    .footer_ul2 {
        max-width: 400px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }
   
    .footer_Ul3{
        max-width: 679px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        row-gap: 25px;
    }
    





    /* footer styles */


}

/* for large mobile max-width:425px styles ends */























/* for tablet  max-width:768px; styles starts */

@media screen and (max-width:768px) {
    .main_Nav {
        flex-direction: column;
        gap: 15px;

    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner_data {
        width: 100%;
        padding: 100px 0px;
        margin-left: 0px;
    }

    .banner_Image img {
        width: 85%;

    }

    .banner_Image {
        width: 100%;
        justify-content: center;

    }


    .cards {
        padding: 50px 0px;
        flex-direction: column;
    }

    .single_Card {
        text-align: center;
    }



    /* play games styles */
    .Play_games {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 50px;

    }

    .choto_Pic {
        max-width: 50%;
        bottom: -100px;
        right: -60px;
    }


    .image_Side {
        width: 100%;
    }

    .Position_Pic {
        max-width: 90%;

    }


    .Info_Side {
        max-width: 100%;
        /* text-align: center; */
        justify-content: center;
    }

    .Inner_2 {
        max-width: 100%;
        text-align: center;
    }

    /* play games styles */
    .footer_ul1 {
        max-width: 400px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }

    .footer_ul2 {
        max-width: 400px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }

  

   


}



/* for tablet min-width:426px; max-width:960px; styles ends */









/* Responsive css ends here */